* {
    border: 1px;
		border-color: #9ece6a;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Liberation Mono;
    min-height: 20px;
}

window#waybar {
    background: transparent;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces {
    margin-right: 8px;
    border-radius: 5px;
    transition: none;
    background: #1a1b26;
}

#workspaces button {
    transition: none;
    color: #7c818c;
    background: transparent;
    padding: 5px;
    font-size: 18px;
}

#workspaces button.persistent {
    color: #7c818c;
    font-size: 12px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    transition: none;
    box-shadow: inherit;
    text-shadow: inherit;
    border-radius: inherit;
    color: #1a1b26;
    background: #7c818c;
}

#workspaces button.focused {
    color: #bb9af7;
}

#workspaces button.visible {
    color: #7c818c;
}

#workspaces button.urgent {
    color: #1a1b26;
		background: #f7768e;
}

/* #language { */
/*     padding-left: 16px; */
/*     padding-right: 8px; */
/*     border-radius: 5px 0px 0px 5px; */
/*     transition: none; */
/*     color: #c0caf5; */
/*     background: #1a1b26; */
/* } */
/**/
#custom-pacman {
    margin-right: 8px;
    padding-left: 16px;
    padding-right: 8px;
    border-radius: 0px 5px 5px 0px;
    transition: none;
    color: #c0caf5;
    background: #1a1b26;
}

#custom-mail {
    margin-right: 8px;
    padding-right: 16px;
    border-radius: 0px 5px 5px 0px;
    transition: none;
    color: #c0caf5;
    background: #1a1b26;
}

#window {
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 5px;
    transition: none;
    color: #c0caf5;
    background: #1a1b26;
}

#clock {
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 5px 0px 0px 5px;
    transition: none;
    color: #c0caf5;
    background: #1a1b26;
}

#custom-weather {
    padding-right: 16px;
    border-radius: 0px 5px 5px 0px;
    transition: none;
    color: #c0caf5;
    background: #1a1b26;
}

#pulseaudio {
    margin-right: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 5px;
    transition: none;
    color: #c0caf5;
    background: #1a1b26;
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#custom-mem {
    margin-right: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 5px;
    transition: none;
    color: #c0caf5;
    background: #1a1b26;
}

#temperature {
    margin-right: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 5px;
    transition: none;
    color: #c0caf5;
    background: #1a1b26;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#backlight {
    margin-right: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 5px;
    transition: none;
    color: #c0caf5;
    background: #1a1b26;
}

#battery {
    margin-right: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 5px;
    transition: none;
    color: #c0caf5;
    background: #1a1b26;
}

#battery.charging {
    color: #c0caf5;
    background-color: #26A65B;
}

#battery.warning:not(.charging) {
    background-color: #ffbe61;
    color: black;
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #c0caf5;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#tray {
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 5px;
    transition: none;
    color: #c0caf5;
    background: #1a1b26;
}

@keyframes blink {
    to {
        background-color: #c0caf5;
        color: #000000;
    }
}
